<div class="group-title">
  <h1><%= @group.name %></h1>
</div>
<div class="group-info">
  <% @users.each do |user| %>
    <% if user.id == @group.creator_id%>
      <h4>Group Creator:<%=user.username%></h4>
    <%end%>
  <%end%>
  <h3>Group Members:</h3>
</div>
<div class="row animated fadeInRightBig">
    <% @membership.each do |user| %>
    <div class="group-members">
      <p><%= link_to user.username, user_path(user) %></p>
    </div>
    <% end %>
</div>
<div class="group-chores">
  <h3>Group Chores:</h3>
</div>
<div class="chore-list animated fadeInRightBig">
  <ul>
  <% @chores.each do |chore| %>
      <% if chore.status == false %>
        <li><%= link_to chore.task, chore%>:
          <div class="incomplete">
           Incomplete </li>
          </div>
      <%else%>
        <li><%= link_to chore.task, chore%>:
          <div class="complete">
           Complete </li>
          </div>
      <%end%>
    </li>
  <%end%>
  </ul>
</div>
<div class="buttons animated fadeInUpBig">
  <% if current_user.id == @group.creator_id %>
    <%= link_to 'Add Chore', new_chore_path, class: "button" %><br/>
    <%= link_to "Add a Member", edit_group_path(@group), class: "button" %><br/>
    <%= link_to "Delete Group", @group, method: :delete, data: { confirm: "You sure?" }, class: "button" %>
  <%end%>
</div>
