<div class="profile-info">
  <div class="username">
    <h1><%= @user.username %>'s Groups</h1>
    <%= image_tag @user.profile_photo %>
  </div>

  <div class="row small-12 columns centered medium-8 columns">
      <% @groups.each do |group| %>
        <p class="group-list large-3 columns centered animated fadeInRightBig">
          <%=link_to group.name, group%>
          <%=image_tag ("#{group.picture}")%>
        </p>
      <%end%>
  </div>
  <div class="row">
    <% if current_user.id == @user.id %>
    <div class="group-buttons animated fadeInUpBig">
      <%= link_to 'Create Group', new_group_path, class: "group button" %><br/>
      <%= link_to 'Edit Your Profile', edit_user_registration_path, class: "group button" %>
    <% end %>
    </div>
  </div>
</div>
