<div class="chore_title">
  <h1>Enter Chore</h1>
</div>

<div class="row">
  <div class="new_chore_form">
<%= form_for [@user, @chore] do |f| %>

<% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chore.errors.count, "error") %>
      </h2>
      <ul>
        <% @chore.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :task %>
    <%= f.text_field :task %>
  </div>

  <div class="field">
    <%= f.label :assignment %>
    <%= f.text_field :assignment %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.text_field :deadline %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
</div>
